openapi: "3.0.0"
info:
  version: "1.0.0"
  title: Notification Service Api
servers:
  - url: 'https://notifications.com'
paths:
  /registerAppForUser:
    post:
      summary: Register a new App
      operationId: registerAppForUser
      tags:
        - App Registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_pseudonym:
                  type: string
                  description: identifier of the user
                app_id:
                  type: string
                  description: unique id of the application installation
                tenant_id:
                  type: string
                  description: unique id of the application installation of a tenant
                platform:
                  type: string
                  description: Operating system of the App (iOS, Android, Huawei)
                  enum: [iOS, Android, Huawei]
                push_token:
                  type: string
                  description: App-specific identifier from the mobile operating system.
                initial_shared_secret:
                  type: string
                  description: Secret key for message encryption.
                time_iss_created:
                  type: string
                  description: Time of Initial Shared Secret creation.
                channels:
                  type: array
                  description: Public encryption key for message encryption.
                  items:
                    type: string
              required:
                - user_pseudonym
                - app_id
                - tenant_id
                - platform
                - push_token
                - initial_shared_secret
                - time_iss_created
      responses:
        '200':
          description: The App was successfully registered.
        '400':
          description: Invalid request. One or more of the parameters are incorrect.
        '401':
          description: Unauthorized. The access token is invalid or expired.
        '500':
          description: An error occurred while processing the request.
  /channelsForUser/{user_pseudonym}/{app_id}:
    get:
      summary: View the notification channel configuration
      operationId: viewChannelConfig
      tags:
        - Channel Configuration
      parameters:
        - name: user_pseudonym
          in: path
          required: true
          description: identifier of the user
          schema:
            type: string
        - name: app_id
          in: path
          description: unique id of the application installation
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successfully retrieved the channel configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    items:
                      type: string
        '400':
          description: Invalid request. One or more of the parameters are incorrect.
        '404':
          description: Not found. Channel configuration for the parameters are not available.
        '500':
          description: An error occurred while processing the request.
  /channelsForUser:
    put:
      summary: Update the notification channel configuration
      operationId: updateChannelConfig
      tags:
        - Channel Configuration
      requestBody:
        required: true
        content:
            application/json:
              schema:
                type: object
                properties:
                  user_pseudonym: 
                    description: identifier of the user
                    type: string
                  app_id:
                    type: string
                    format: uuid
                  channels:
                    type: array
                    items:
                      type: string
                required:
                  - user_pseudonym
                  - app_id
                  - channels
      responses:
        '200':
          description: Successfully updated the channel configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    items:
                      type: string
        '400':
          description: Invalid request. One or more of the parameters are incorrect.
        '401':
          description: Unauthorized. The access token is invalid or expired.
        '500':
          description: An error occurred while processing the request.
  /notify:
    post:
      summary: Send a push notification
      operationId: sendNotification
      tags:
        - Notification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_pseudonym:
                  type: string
                  description: Identifier to uniquely identify and re-identify the patient.
                event_id:
                  type: string
                  description: Specific key representing a triggered event.
              required:
                - user_pseudonym
                - event_id
      responses:
        '200':
          description: The notification was successfully sent.
        '400':
          description: Invalid request. One or more of the parameters are incorrect.
        '401':
          description: Unauthorized. The access token is invalid or expired.
        '500':
          description: An error occurred while processing the request.
 